@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1c1c1c;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(17, 17, 17);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(17, 17, 17);
}